<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{obList.titulo}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    
    <ion-list-header>
        Tareas por hacer
    </ion-list-header>
    
    <ion-list>
        <ion-item>
            <ion-label fixed>Nuevo Item</ion-label>
            <ion-input [(ngModel)]="sbItemName" type="text" value="" (keyup.enter)="AgregarItem()"></ion-input>
        </ion-item>
    </ion-list>
    
    
    <ion-list>
        
        <ion-list-header *ngIf="obList.item.length !=0">
            Tareas por hacer
        </ion-list-header>
        
        <button ion-item detail-none class="animated fadeInDown" *ngFor="let item of obList.item" (click)="ActualizarCheck(item)">
            <ion-icon *ngIf="item.completado" name="checkbox-outline" item-start></ion-icon>
            <ion-icon *ngIf="!item.completado" name="square-outline" item-start></ion-icon>
            {{item.desc}}
        </button>
    </ion-list>
</ion-content>